<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <nav>
      <div class="logo"></div>
      <!-- <div class="nav-items">
        <a href="/">Home</a> <a href="/">Research</a>
      </div> -->
    </nav>
    <section class="hero">
      <div class="hero-container">
        <div class="column-left">
          <h1>Generate Omnidirectional Images</h1>
          <p>
            We present a novel way to generate omnidirectional images, try it by writing a prompt below!
          </p>
        </div>
        <div class="column-right">
          <img
            src="static/styles/robot.svg"
            alt="illustration
        "
            class="hero-image"
          />
        </div>

    </div>
    <div class="generation">
        <div class="generation-container">
            <input class="prompt" id="prompt" type="text">
            <button class="button-4" id="button-4"><img src="static/styles/button.png" alt=""></button>
        </div>
    </div>
    <div class="image-container" id="image-container">
      <img src="" alt="Generated Image" id="generated-image">
    </div>
    <div class="loading-container" id="loading-container">
      <div class="loading-spinner" id="loading-spinner"></div>
    </div>
    <div class="gallery-heading">
        <h1>Image Gallery</h1>
        <!-- Images Here! -->
        <div class="gallery-images">
          <ul>
            <li>
              <a href="">
                <figure>
                  <img src='static/styles/a_castle_in_the_sunset.png'>
                  <figcaption>A Castle In The Sunset</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="">
                <figure>
                  <img src='static/styles/mountain_cliff.png'>
                  <figcaption>Mountain Cliff</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="">
                <figure>
                  <img src='static/styles/celestial_garden.png'>
                  <figcaption>Celestial Garden</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="">
                <figure>
                  <img src='static/styles/futuristic_cityscape.png'>
                  <figcaption>Futuristic Cityscape</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="">
                <figure>
                  <img src='static/styles/tokyo_shibuya_crossing.png'>
                  <figcaption>Tokyo Shibuya Crossing</figcaption>
                </figure>
              </a>
            </li>
            <li>
              <a href="">
                <figure>
                  <img src='static/styles/underwater_wonderland.png'>
                  <figcaption>Underwater Wonderland</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </div>
    </div>
    </section>
  </body>
  <script type="module">
    document.addEventListener('DOMContentLoaded', function(url_public) {
      
      var loadButton = document.getElementById('button-4');
      var loadingContainer = document.getElementById('loading-container');
      var loadingSpinner = document.getElementById('loading-spinner');
      var imageContainer = document.getElementById('image-container');
      var prompt = document.getElementById('prompt')

      loadButton.addEventListener('click',async function() {
      loadingContainer.style.display = 'flex';
      loadingSpinner.style.display = 'flex';
      imageContainer.style.display = 'none'
      var prompt_value = prompt.value


      var req = url_public+"/generate-image"
      
      req = req.split(']')[1]

        const response = await fetch(req+"?prompt="+prompt_value)
        .then(response => response.blob()) 
        .then(blob => { 
          // Create an image element 
          const imageElement = document.getElementById('generated-image')
          
          // Set the src attribute to the Blob URL
          imageElement.src = URL.createObjectURL(blob);

        }).catch(error => { 
          console.error('Error fetching image:', error); 
          console.log(url_public)
        });
        loadingContainer.style.display = 'none'
        loadingSpinner.style.display = 'none';
        imageContainer.style.display = 'flex'
        window.alert("Your Image Has Been Generated");
      });
    });
    </script>
</html>